<header>
    <div class="container">
        <div class="header-left">
            <h3 class="logo"><a href="{{site.url}}"> {{site.title}} </a></h3>
        </div>
        <div class="header-right">
            <form action="https://www.google.com/search" method="GET">
            <div class="search-box">

                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="search-icon">
                    <path
                            d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z" />
                </svg>

                    <input type="hidden" name="sitesearch" value="bishalthapa.com">
                    <input type="text" name="q" placeholder="Search post" label="search">

            </div>
            </form>
            <nav>
                <ul>
                    <li> <a href="{{site.url}}/about">About Me</a> </li>
                </ul>
            </nav>

            <div class="theme-switcher">
                <span id="moon" class="active" title="Swith to day mode ☀️">🌙</span>
                <span id="sun" class="theme-mode" title="Switch to night mode 🌙">☀️</span>
            </div>
        </div>
    </div>
</header>
