<header>
    <div class="container">
        <div class="header-left">
            <h3  class="logo"><a href="{{site.url}}"> <span class="title-color-blue">Bishal | </span>Thapa</a></h3>
        </div>
        <div class="header-right">

            <nav>
                <ul class="post-title">
                    <li> <a class="title-color-blue" href="{{site.url}}/about">ABOUT ME</a> </li>
                </ul>
            </nav>

            <!-- <div class="theme-switcher">
                <span id="moon" class="active" title="Swith to day mode ☀️">🌙</span>
                <span id="sun" class="theme-mode" title="Switch to night mode 🌙">☀️</span>
            </div> -->
        </div>
    </div>
</header>
