
:root {
  --bg-color-one: #ffff;
  --bg-color-two: #ffff;
  --bg-color-three: #EBE4FF;
  --text-color: #36344d;
  --post-title-color: #673de6;
  --post-list-color: #35245b;
  --font-mono: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
  --font-serif: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
  --font-sans-serif: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
}

h1, h2, h3, h4, ul, p {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  background-color: var(--bg-color-one);
  color: var(--text-color);
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
}

.container-full {
  width: 100%;
}

.container {
  max-width: 1060px;
  margin: auto;
  padding: 10px;
}

/* ---------------- main ---------------- */
.main-container {
  flex: 1 0 auto;
  padding-top: 30px;
}

main {
  display: flex;
}

p {
  text-justify: auto;
  font-size: 19px;
}

.header h1  {
  font-size: 45px;
}


