<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    {% seo %}
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
    <meta name="google-site-verification" content="FsiVrF2rPi_Ok5I_6nfEDpsUfTM460AFSSwpUqILIKg" />
</head>
<body class="dark-mode">

{% include navigation.html %}

<div class="main-container bg-color-two">
    <main class="container">
        <div class="main-section post">
            {{ content }}
        </div>
        <div class="side-category">
            {% include category-sidebar.html %}
        </div>
    </main>
</div>

{% include footer.html %}

<script src="{{site.url}}/assets/js/script.js"></script>
</body>
</html>